<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Display Random Meme</title>
</head>
<body>
<div style="text-align: center;">
    <button id="get_image"
            style="background-color: #5dd9f5; color: white; font-size: 20px; padding: 10px 20px; margin-top: 20px;">
        Рандомный мем
    </button>
    <br/><br/>

    <img id="random_image" style="max-width: 500px; max-height: 500px;">
</div>

<script>
    document.getElementById('get_image').addEventListener('click', function () {
        fetch('/get_image')
            .then(response => response.blob())
            .then(blob => {
                document.getElementById('random_image').src = URL.createObjectURL(blob);
            });
    });

</script>
</body>
</html>